//
// Voron Customizations
//

//
// Color Definitions
//
$grey-dk-400: #19181b;
$red-400: #9a1919;
$red-500: #de1212;

//
// Body Elements
//
$link-color: $grey-dk-400;
$body-heading-color: $red-500;
$btn-primary-color: $red-200;
$sidebar-color: $grey-lt-100;
