//
// Voron Customizations
//

//
// Color Definitions
//
$grey-dk-400: #19181b;
$red-400: #bd0f0f;
$red-500: #760a0a;

//
// Body Elements
//
$body-background-color: $grey-lt-100;
$link-color: $grey-dk-400;
$body-heading-color: $red-500;
$btn-primary-color: $red-200;
$sidebar-color: $grey-lt-100;
